<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
  <span></span>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-200 dark:text-gray-200 justify-center items-center">
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      href="#top">Incio</a
    >
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      href="#about-me">Sobre mi</a
    >
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      href="#project">Proyectos</a
    >
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 hover:underline"
      href="mailto:jeffreycap12@gmail.com">Contacto</a
    >
    <button>DarMode</button>
  </nav>
</header>
<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
    }
  }
</style>
